<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Project Playlist</title>
</head>
<body>
  <nav>
    <a href="/"><img style="width: 50px;" src="/images/project-playlist.svg"></a>
    <div id="nav-middle">
      <a class="nav-middle-links" href="/">HOME</a>
      <a class="nav-middle-links" href="/playlists">All PLAYLISTS</a>
      <% if (user) { %>
        <a class="nav-middle-links" href="/users/<%= user._id %>">MY PLAYLISTS</a>
      <% } %> 
    </div>
    <% if (user) { %>
      <a href="/logout">LOG OUT</a>
    <% } else { %>
      <a href="/auth/google" class="login">LOG IN&nbsp;<img style="height: 20px;" src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
  </nav>