* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-top: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(50, 50, 50);
  color: rgb(213, 213, 213);
  font-family: 'Encode Sans Expanded', sans-serif;
}

nav {
  background-color: rgb(11, 114, 66);
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px 10px 10px;
  font-family: 'Comfortaa', cursive;
  font-size: 23px;
  height: 70px
}

button {
  cursor: pointer;
}

#icon {
  width: 40px;
  padding-top: 5px;
}

#nav-middle {
  display: flex;
  align-items: center;
}

.nav-middle-links {
  padding: 0 20px;
}

h1 {
  margin: 0 10px;
  line-height: 26px;
  color: white;
}

a {
  color: rgb(158, 211, 255);
  text-decoration: none;
}

table {
  width: 100%;
  font-size: 16px;
}

th {
  text-align: left;
}

.user-avatar {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.user-div {
  margin: 10px 0;
}

.user-div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-div > div h1:nth-child(3) {
  font-size: 50px;
  margin-top: 10px;
}

.user-div > div > div {
  height: 10px;
}

#playlist-title-div {
  display: flex;
  flex-direction: column;
}

#playlist-title-div-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin-left: 10px;
}

#playlist-title-div > h2{
  margin: 5px 0;
}

.playlist-title > a {
  font-size: 30px;
  color: rgb(213, 213, 213);
}

#playlist-user {
  font-size: 18px;
}

.playlist-header {
  display: inline-block;
  margin-bottom: 20px;
}

.artwork-div {
  margin-right: 20px;
  display: inline-block;
}

#name-and-avatar {
  display: flex;
}

#name-and-avatar > img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.playlist-header > h2 {
  font-size: 30px;
}

.user-div, .playlist-header-div {
  display: flex;
  align-items: center;
}

.playlist-header-div {
  align-items: flex-end;
  margin: 20px 0;
}

.playlist-div, .playlist-index-div {
  padding: 20px;
  border: rgba(0, 0, 0, 0.625) solid 2px;
  border-radius: 20px;
  background-color: rgb(13, 54, 97);
}

.playlist-index-div {
  margin: 30px 0;
}

.user-name {
  padding-left: 10px;
}

.content-wrapper, #pl-index-content-wrapper, #info-div {
  width: 70vw;
}

#table-div {
  width: 80vw;
  margin-bottom: 50px;
}

#pl-index-content-wrapper {
  padding-bottom: 50px;
}

.new-playlist {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 15px;
}

.new-playlist-img {
  width: 30px;
}

.table-line {
  width: 100%;
  height: 2px;
  background: rgb(108, 133, 165);
}

.title-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.title-div > form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#search-button {
  background: transparent;
  border: none;
  font-size: 25px;
  color: aliceblue;
  padding: 0;
  line-height: 0;
  margin: 5px;
}

.title {
  margin: 40px 0;
  font-size: 100px;
  font-family: 'Comfortaa', cursive;
}

.time-span {
  font-size: 13px;
  color: rgb(158, 211, 255);
}

.unset {
  color: unset;
}

#delete-cover-img, #add-cover-img-btn, #edit-playlist, #delete-playlist, #update-comment, #delete-comment, #add-songs, .add-button, #new-playlist-form > button, #delete-song-button {
  background-color: transparent;
  border: none;
  color: rgb(255, 158, 158);
  font-size: 30px;
  padding: 0;
}

.edit-button, #img-load-err-msg {
  display: none;
}

#add-cover-img-btn {
  color: rgb(239, 255, 158);
}

#add-cover-img {
  margin: 6px 0 0 20px;
}

#edit-playlist {
  color: rgb(158, 211, 255);
}

#delete-song-button {
  font-size: 15px;
}

#delete-song-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.add-button {
  font-size: 20px;
  color: rgb(158, 211, 255);
}
.add-button:hover {
  transition: color 0.4s ease;
  color: rgb(158, 255, 165);
}

#add-songs {
  color: rgb(158, 255, 165);
}

#delete-comment {
font-size: 15px;
}

#update-comment {
  font-size: 15px;
  color: rgb(158, 211, 255);
}

#comment-section {
  margin: 60px 0;
}

#comment-div {
  display: flex;
  align-items:center;
}

#comment-div > p {
  margin-left: 15px;
}

.query-message {
  font-size: 30px;
}

th {
  font-size: 22px;
}

#new-playlist-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60vw;
}

#new-playlist-form > label {
  font-size: 30px;
  margin: 5px 0;
  width: 100%;
  margin-top: 20px;
}

#new-playlist-form > input {
  height: 35px;
  border-radius: 5px;
  width: 100%;
}

#new-playlist-form > button {
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

#new-playlist-form > button:hover {
  transition: color 3s ease;
  color: red;
}

#playlists-title {
  font-size: 60px;
  margin: 30px 0;
}

#curator-div {
  text-align: center;
}

#curator-div > h1 {
  font-size: 60px;
  margin-top: 60px;
}

#no-users-div {
  font-size: 20px;
}

#playlist-users-div {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  height: 65vh;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
}