<%- include('../partials/header') %>

<% if (failed) { %>
  <h1>We couldn't find what you searched for! Try again.</h1>
<% } %>
<div class="title-div">
  <h1>Enter a Song, an Album, or an Artist!</h1>
  <form action="/playlists/<%= playlist._id %>/search/results" method="GET">
    <input style="width: 500px;" type="text" name="q" placeholder="&quot;<%= title %>&quot; bout to get some love!">
    <button id="search-button" type="submit">GO</button>
  </form>
</div>

<%- include('../partials/footer') %>

