<%- include('../partials/header') %>
  
  <% playlists.forEach(function(p) { %>
    <%= p.title %>
    <%= p.user %>
    <table>
      <thead>
        <tr>
          <th>Track</th>
          <th>Artist</th>
        </tr>
      </thead>
      <tbody>
        <% p.songs.forEach(function(s) { %>
          <tr>
            <td>s.title</td>
            <td>s.artist</td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% }); %>

<%- include('../partials/footer') %>