<%- include('../partials/header') %>

<h1> <%= title %> </h1>

<form action="/playlists" method="POST">
  <label for="">Title:
    <input type="text" name="title" placeholder="My Dope Playlist">
  </label>
  <button type="submit">Go!</button>
</form>

<%- include('../partials/footer') %>

